<%- include('./includes/header') %> <%- include('./includes/navbar') %>

<div id="main-section">
  <div class="content">
    <h1>
      &quot;The only limits on your life are those that you set yourself &quot;
    </h1>
    <a href="/auth/signup"> <button>Get started</button> </a>
  </div>

  <img
    src="/images/best-inspirational-quotes-for-kids-of-all-ages.jpg"
    alt="task manager"
  />
</div>

<%- include('./includes/footer') %>
